.header {
  background-color: #282c34;
  padding: 1rem;
  color: white;
  height: 25px;
}

.header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.header nav ul li {
  margin-right: 1rem;
}